    /* Start Global rules */
    
     :root {
        --main-color: #10cab7;
        --secondary-color: #2c4755;
    }
    
    .container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Work Sans', sans-serif;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    @media (min-width:768px) {
        .container {
            width: 750px;
        }
    }
    
    @media (min-width:992px) {
        .container {
            width: 970px;
        }
    }
    
    @media (min-width:1200px) {
        .container {
            width: 1170px;
        }
    }
    /* start components */
    
    .special-heading {
        color: #ebeced;
        font-size: 100px;
        letter-spacing: -3px;
        text-align: center;
        font-weight: 800;
        margin: 0;
    }
    
    .special-heading+p {
        text-align: center;
        margin: -30px 0 0;
        color: var(--main-color);
        font-size: 20px;
    }
    
    @media (max-width:767px) {
        .special-heading {
            font-size: 60px;
        }
        .special-heading+P {
            margin-top: -20px;
        }
    }
    /* End components */
    /* End Global rules */
    /* Start header */
    
    .header {
        padding: 20px;
    }
    
    .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header .logo {
        width: 60px;
    }
    
    .header .links {
        position: relative;
    }
    
    .header .links .icon {
        width: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    
    .header .links .icon span {
        background-color: #333;
        margin-bottom: 5px;
        height: 2px;
    }
    
    .header .links:hover .icon span:nth-child(2) {
        width: 100%;
    }
    
    .header .links .icon span:first-child {
        width: 100%;
    }
    
    .header .links .icon span:nth-child(2) {
        width: 60%;
        transition: 0.3s;
    }
    
    .header .links .icon span:last-child {
        width: 100%;
    }
    
    .header .links ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #f6f6f6;
        position: absolute;
        right: 0;
        top: calc(100% + 5px);
        min-width: 200px;
        display: none;
        z-index: 1;
    }
    
    .header .links:hover ul {
        display: block;
    }
    
    .header .links ul::before {
        content: "";
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #f6f6f6 transparent;
        position: absolute;
        right: 5px;
        top: -20px;
    }
    
    .header .links ul li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        transition: 0.3s;
        color: #333;
    }
    
    .header .links ul li a:hover {
        padding-left: 23px;
    }
    
    .header .links ul li:not(:last-child) a {
        border-bottom: 1px solid #ddd;
    }
    /* End header */
    /* Srart Landing */
    /* End Landing */
    
    .landing {
        background-image: url(../images/3899617.webp);
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vh - 64px);
        position: relative;
    }
    
    .landing .intro-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 340px;
        max-width: 100%;
    }
    
    .landing .intro-text h1 {
        margin: 0;
        color: var(--main-color);
        font-size: 50px;
    }
    
    .landing .intro-text p {
        font-size: 19px;
        line-height: 1.8;
    }
    /* Start features  */
    
    .features {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #f6f6f6;
    }
    
    .features .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;
    }
    
    .features .feat {
        padding: 20px;
        text-align: center;
    }
    
    .features .feat i {
        color: var(--main-color);
    }
    
    .features .feat h3 {
        font-weight: 800px;
        margin: 30px 0;
    }
    
    .features .feat p {
        color: #777;
        line-height: 1.7;
        font-size: 17px;
    }
    /* End features */
    /* Start Services */
    
    .services {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .services .services-contents {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;
        margin-top: 100px;
    }
    
    .services .services-contents .serv {
        display: flex;
        margin-bottom: 40px;
    }
    
    @media (max-width:767px) {
        .services .services-contents .serv {
            flex-direction: column;
            text-align: center;
        }
    }
    
    .serv i {
        color: var(--main-color);
        flex-basis: 60px;
    }
    
    .services .services-contents .text {
        flex: 1;
    }
    
    .services .services-contents .serv .text h3 {
        margin: 0 20px;
    }
    
    .services .services-contents .serv .text p {
        color: #444;
        font-weight: 1500;
        line-height: 1.5;
    }
    
    .col .img {
        width: 270px;
        text-align: center;
        margin: auto;
        position: relative;
    }
    
    .col .img img {
        width: 100%;
        height: 100%;
    }
    
    .col .img::after {
        content: "";
        position: absolute;
        top: -25px;
        right: -35px;
        width: 90px;
        height: calc(100% + 50px);
        background-color: var(--secondary-color);
        z-index: -1;
    }
    
    @media(max-width:1199px) {
        .imgy {
            display: none;
        }
    }
    /* End Services */
    /* Start portifolio */
    
    .portifolio {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #f6f6f6;
    }
    
    .portifolio .portifolio-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 0.75fr));
        grid-gap: 30px;
        margin-top: 80px;
    }
    
    @media (max-width:767px) {
        .portifolio .card {
            text-align: center;
            margin-left: 40px;
        }
    }
    
    .portifolio .card {
        background-color: white;
        padding: 10px;
    }
    
    .portifolio .card img {
        max-width: 100%;
    }
    
    .portifolio .card h3 {
        margin: 0;
    }
    
    .portifolio .card p {
        color: #777;
        line-height: 1.6;
        margin-bottom: 0;
    }
    
    .portifolio .info {
        padding: 20px;
    }
    /* End portifolio */
    /* start about */
    
    .about {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .about .about-content {
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .about-content .image img {
        /* to prevent the image from extending outside the div */
        width: 100%;
        height: 100%;
    }
    
    .about-content .image {
        position: relative;
    }
    
    .about-content .image::before {
        content: "";
        position: absolute;
        top: -25px;
        left: -30px;
        width: 90px;
        height: calc(100% + 50px);
        background-color: var(--main-color);
        z-index: -1;
    }
    
    .about-content .image::after {
        content: "";
        position: absolute;
        border-bottom: 47px solid var(--main-color);
        border-left: 73px solid var(--main-color);
        height: 122px;
        width: 44px;
        top: -23px;
        z-index: -1;
        right: -68px;
    }
    
    @media(max-width:1199px) {
        .about .image {
            margin: auto;
            margin-bottom: 20px;
        }
    }
    
    .about-content .text {
        flex-basis: calc(100% - 500px);
    }
    
    @media (max-width:1199px) {
        .about-content {
            flex-direction: column;
            text-align: center;
        }
    }
    
    .about-content .text p:first-of-type {
        font-weight: bold;
        line-height: 2;
        margin-bottom: 50px;
    }
    
    .about-content .text hr {
        width: 50%;
        border-color: var(--main-color);
        display: inline-block;
    }
    
    .about-content .text p:last-of-type {
        line-height: 1.5;
        color: #777;
    }
    
    @media(max-width:767px) {
        .about-content .text {
            padding: 10px;
        }
        .about-content .image::after,
        .about-content .image::before {
            display: none;
        }
    }
    /* end about */
    /* start contact */
    
    .contact {
        background-color: #f6f6f6;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .contact .info {
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;
    }
    
    .contact .info .label {
        font-size: 30px;
        font-weight: 800;
        color: var(--secondary-color);
        margin-bottom: 15px;
        letter-spacing: -2px;
    }
    
    .contact .info .link {
        text-decoration: none;
        color: var(--secondary-color);
        font-size: 25px;
        display: block;
    }
    
    .contact .info .social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        font-size: 23px;
    }
    
    .contact .info .social i {
        margin-left: 15px;
        color: var(--secondary-color);
    }
    
    .social span {
        margin-top: -3px;
    }
    
    .social .icons {
        padding-top: 25px;
    }
    
    .social .icons hr {
        width: 25%;
        border-color: var(--main-color);
        padding-left: 30px;
    }
    
    @media(max-width:767px) {
        .contact .info .label {
            font-size: 22px;
            font-weight: 400;
            letter-spacing: -1px;
        }
        .contact .info span {
            font-size: 17px;
            margin-top: 3px;
        }
    }
    /* End contact */
    /* Start footer */
    
    .footer {
        background-color: var(--secondary-color);
        color: white;
        padding: 30px 10px;
        text-align: center;
        font-size: 19px;
        position: relative;
    }
    
    .footer::before {
        content: "";
        position: absolute;
        width: 20px;
        background-color: #f6f6f6;
        height: 100%;
        top: 0px;
        left: 150px;
        z-index: z;
    }
    
    .footer::after {
        content: "";
        position: absolute;
        width: 20px;
        background-color: #f6f6f6;
        height: 100%;
        top: 0px;
        right: 150px;
        z-index: z;
    }
    
    @media(max-width:767px) {
        .footer {
            font-size: 13px;
        }
        .footer::before {
            left: 0px;
            width: 10px;
        }
        .footer::after {
            right: 0px;
            width: 10px;
        }
    }
    
    @media(max-width:1199px) {
        .footer::before {
            left: 0px;
            width: 15px;
        }
        .footer::after {
            right: 0px;
            width: 15px;
        }
    }
    
    .footer span {
        color: var(--main-color);
        font-weight: bold;
    }
    /* End footer */